@mixin layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--hero-section-secondary-container-gap, 0);

    & > .wp-block-hero-section-wizard-hero-section-secondary-child {
        &:nth-child(1) {
            grid-column: span 2 / span 2;
        }
        &:nth-child(2),
        &:nth-child(3) {
            grid-row-start: 2;
        }
    }
}

.wp-block-hero-section-wizard-hero-section-secondary-container {
    @include layout;
}
