@mixin layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--hero-section-secondary-container-gap, 0);

    .wp-block-hero-section-wizard-hero-section-secondary-child {
        &:nth-child(1) {
            aspect-ratio: 7/3.5;
        }
        &:nth-child(2),
        &:nth-child(3) {
            aspect-ratio: 5/2.3;
        }
    }

    @media (min-width: 769px) {
        .wp-block-hero-section-wizard-hero-section-secondary-child {
            height: calc(
                100% - var(--hero-section-secondary-container-gap, 0px) / 2
            );
            &:nth-child(2),
            &:nth-child(3) {
                width: calc(
                    50% - var(--hero-section-secondary-container-gap, 0px) / 2
                );
            }
        }
    }
}

.wp-block-hero-section-wizard-hero-section-secondary-container {
    @include layout;
}
