.wp-block-hero-section-wizard-hero-section-container {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: var(--hero-section-container-gap);
    }
}
