.wp-block-hero-section-wizard-hero-section-container {
    display: flex;
    align-items: flex-start;
    gap: var(--hero-section-container-gap);
    flex-direction: column;

    @media (min-width: 1201px) {
        flex-direction: row;
    }
}
