.wp-block-hero-section-wizard-hero-section-container {
    display: flex;
    align-items: stretch;
    gap: var(--hero-section-container-gap);

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}
