.wp-block-hero-section-wizard-hero-section-secondary-child {
    transition: background-size 0.5s ease-in-out;
    border-radius: var(--hero-section-secondary-container-border-radius, 0);
    background-position: center center;
    background-size: 100% !important;

    &:hover {
        background-size: 107% !important;
    }
}
