.wp-block-hero-section-wizard-hero-section-slider-container {
    & > .slider-wrapper > .block-editor-inner-blocks {
        width: 100%;
        height: 100%;

        & > .block-editor-block-list__layout {
            width: 100%;
            height: 100%;
            display: flex;
        }
    }
}
