.wp-block-hero-section-wizard-hero-section-slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--hero-section-slider-container-border-radius, 0px);
    aspect-ratio: 4/1;

    .slider-wrapper {
        height: 100%;
        display: flex;
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        transform: var(
            --hero-section-slider-container-transform-value,
            translateX(0%)
        );
        cursor: grab;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Older IE/Edge */
        user-select: none; /* Standard */

        /* Optional: Prevents images from being dragged/ghosted by the browser */
        -webkit-user-drag: none;

        &.dragging {
            cursor: grabbing;
            transform: var(
                --hero-section-slider-container-dragging-transform-value,
                var(--hero-section-slider-container-transform-value)
            );
        }
    }

    .controls {
        margin-block: auto;
        position: absolute;
        z-index: 1;
        display: flex;
        gap: 0.3em;
        border-radius: 0.7em;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0.4em;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        .control {
            width: 0.55em;
            height: 0.55em;
            border-radius: 100%;
            background-color: rgba(45, 44, 44, 0.5);
            cursor: pointer;

            &.active {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
}
